<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="co.lwb.juicejuice-app" version="0.0.1"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Juice Juice</name>
  <description>
        JuiceJuice Brain Controller
  </description>
  <author email="l@lwb.co" href="http://lwb.co">
    Leeward Bound
  </author>
  <content src="index.html"/>
  <access origin="*"/>
</widget>
